.ant-tabs > .ant-tabs-nav {
  display: none;
}

.ant-col-16 {
  max-width: 100%;
}

.ant-form-item .ant-row {
  display: block;
  width: 100%;
}

.ant-form-item-explain-error {
  display: flex;
  align-items: flex-start;
  color: var(--error-color);
  font-size: var(--font-size-m);
  font-family: var(--font-family-main);
}

.ant-picker-borderless {
  display: flex;
  justify-content: space-between;
}

.ant-picker-suffix {
  display: none;
}

.ant-picker-input input,
.ant-select-selector {
  width: 100%;
  height: 2.8rem;
  outline: none;
  font-size: 1.1rem;
  box-shadow: var(--shadow-secondary);
  font-family: var(--font-family-main);
  border-radius: var(--border-radius-s);
  font-weight: var(--font-weight-medium);
  background: var(--background-secondary-color);
}

.ant-select-selector {
  height: 100% !important;
  font-size: 1rem !important;
  align-items: center !important;
  padding-left: 1.4rem !important;
  box-shadow: var(--shadow-secondary) !important;
  font-family: var(--font-family-main) !important;
  border-radius: var(--border-radius-s) !important;
  font-weight: var(--font-weight-normal) !important;
}

input[aria-invalid="true"] {
  background: #fff;
  border-color: #ff4d4f;
}

.ant-picker-panels {
  display: flex;
  justify-content: center;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
}

p {
  margin: 0;
}

.ant-btn {
  padding: 0;
  position: static;
}

.ant-slider-handle {
  border: 0;
  box-shadow: var(--shadow-primary);
}

.ant-slider-track {
  background-color: var(--primary-color);
}

.ant-slider:hover .ant-slider-track {
  background-color: var(--primary-color);
}

.ant-picker {
  width: 100%;
  border: 0;
  padding: 0;
  margin-bottom: 1.4rem;
}

.ant-space-vertical {
  display: flex;
}

//.ant-picker-dropdown {
//    display: flex;
//    justify-content: center;
//}
//
//.ant-picker-date-range-wrapper .ant-picker-range-arrow {
//    display: none;
//}

.ant-picker-range .ant-picker-active-bar {
  display: none;
}

.ant-input-number-handler-wrap {
  display: none;
}

// .ant-input {
//     height: 3.5rem;
//     background: var(--background-secondary-color);
//     border: none;
//     box-shadow: var(--shadow-secondary);
//     border-radius: var(--border-radius-s);
//     color: var(--placeholder-color);
//     font-size: var(--font-size-m);
//     padding-left: 1.4rem;
//     outline: none;
//     box-sizing: border-box;
//     width: 100%;
//     font-family: var(--font-family-main);
// }

.ant-input-affix-wrapper input {
  font-weight: var(--font-weight-medium);
}

.ant-input-affix-wrapper {
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.ant-input-number-input {
  width: 100%;
  height: 3.5rem;
  border: none;
  outline: none;
  padding-left: 1.4rem;
  box-sizing: border-box;
  font-size: var(--font-size-m);
  box-shadow: var(--shadow-secondary);
  color: var(--background-third-color);
  font-family: var(--font-family-main);
  border-radius: var(--border-radius-s);
  background: var(--background-secondary-color);
}

.ant-input-number {
  width: 45%;
  border: none;
}

.driver-card {
  width: 26.4rem;
  height: 25rem;
  border-radius: 1.4rem;
  background-color: var(--secondary-color);
}

.ymaps-2-1-79-balloon {
  box-shadow: none !important;
}

.ymaps-2-1-79-balloon__content {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
}

.ymaps-2-1-79-balloon__layout {
  border: none !important;
  background: transparent !important;
}

.card {
  width: 7.1rem;
  height: 7.1rem;
  background-color: red;
}

.ant-form {
  display: flex;
  flex-direction: column;
}

.ant-col-offset-8 {
  margin: 0;
}

.ant-input-password-icon {
  cursor: pointer;
}

.ant-btn-link {
  color: #000;
}

.carousel-root {
  display: flex;
}

.carousel .thumbs {
  display: flex;
  flex-direction: column;
}

.carousel {
  //width: auto;
}


.swiper-slide .swiper-slide-active {
  width: 42.8rem;
  margin-right: 2.2rem;
}


.ant-pagination {
  display: flex;
  padding: .7rem 0;
  align-items: center;
  justify-content: center;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border: none;
  background: none;
}

.ant-pagination-item-active a {
  color: var(--primary-color);

  &:hover {
    color: var(--primary-color);
  }
}

.ant-pagination-item-active {
  border: none;
  background: none;
}

.ant-pagination-item {
  border: none;
  background: none;
}

.ant-pagination-item:hover a {
  color: var(--primary-color);
}

.ant-pagination-item-link:hover a {
  color: var(--primary-color);
}

.ant-pagination-item-link:hover svg {
  color: var(--primary-color);
}

.ant-picker-input input {
  color: #000;
}

.ant-picker-panel-container {
  border-radius: .5rem;
}

.ant-form-item-control-input-content {
  height: 3rem;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: blue;
  border-color: blue;
}
