.Select {
    min-height: 40px;
    position: relative;
}

.Accordion {
    background: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
    border-radius: 10px;
}

.Accordion:hover {
    cursor: pointer;
}

.AccordionActive {
    position: relative;
    z-index: 100;
}

.arrow {
    width: 9px;
    height: 18px;
    transform: rotate(90deg);
}

.arrowDown {
    transform: rotate(270deg);
}

.text {
    display: flex;
    align-items: center;
    font-size: var(--font-size-x);
    font-weight: 500;
    line-height: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px 10px 15px;
}

.collapseBtn {
    height: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nameFlat {
    font-weight: 600;
    font-size: 20px;
}

.description {
    display: flex;
    flex-direction: column;
}

.address {
    font-size: 14px;
    margin-bottom: 20px;
}

.price {
    font-size: var(--font-size-xxl);
    font-weight: 600;
    margin-bottom: 20px;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.union {
    display: flex;
    align-items: center;
}

.checkboxWrapper {
    margin-top: 3px;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.customCheckbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1.5px solid var(--primary-color);
    border-radius: 2px;
}

.checkbox:checked ~ .customCheckbox {
    background: var(--primary-color);
}

.check {
    position: absolute;
    top: 4px;
    left: 4px;
    display: none;
}

.checkbox:checked ~ .check {
    display: block;
}

.messageWrapper {
    display: flex;
    justify-content: space-between;
    padding: 6px 30px 15px 25px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: white;
    width: 100%;
    margin-top: -28px;
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 15%);
}

@media (max-width: 426px) {
    .text {
        font-size: var(--font-size-m);
    }
}

.item {
    color: var(--primary-color);
    font-size: 12px;
    width: 100%;
    padding: 9px;
}

.item:hover {
    outline: 1px solid #29648a;
    border-radius: 10px;
    cursor: pointer;
}

.itemDifferentStyle {
    margin-top: 29px;
}

.textOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    padding-left: 33px;
}

.close {
    height: 20px;
}

.toggle {
    display: flex;
    gap: 20px;
}
