.EditPasswordPage {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 50px;
    padding: 28px 190px;
    margin: 36px 80px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
    font-weight: 600;
    font-size: var(--font-size-xxl);
    color: var(--primary-color);
}

.save {
    display: flex;
    justify-content: center;
    margin-top: 148px;
}

.cancel {
    display: flex;
    justify-content: center;
}

.submit {
    width: 347px;
}

.EditPasswordInput {
    margin-bottom: 24px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.EditPasswordInputLast {
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}
