.AppLink {
    color: var(--primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--third-color);
}
