.header-left-block-container {
  & svg {
    position: absolute;
    cursor: pointer;
    left: 3rem;
  }
}

.mobile-fly-block-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 8rem;
  z-index: 1;
  padding: 2rem;
  height: 10rem;
  width: 21.92rem;
  box-shadow: var(--shadow-secondary);
  border-radius: var(--border-radius-b);
  background: var(--background-secondary-color);

  & div {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);

    &:not(:nth-child(3)) {
      margin-bottom: .5rem;
    }
  }
}